@use "../base/variables" as *;
@use "../helper/helper" as *;

.offcanvas.cart-canvas {
    width: 60%;
    background: #ddebe2de;
    @include responsive('lg'){
        width: 70%; 
    }
    @include responsive('md'){
        width: 90%; 
    }
    @include responsive('sm'){
        width: 100%; 
    }
    .offcanvas-header {
        h2 {
            margin-left: auto;
            font-size: 2.5rem;
            font-weight: 600;
            color: #283f3b;
        }
    }

    .offcanvas-body {
        position: relative;
        padding: 0 50px;
        @include responsive('lg'){
            padding: 0 30px; 
        }
        @include responsive('md'){
            padding: 0 5px; 
        }
        @include responsive('sm'){
            padding: 0 2px; 
        }
        .table {
            table-layout: fixed;
            --bs-table-bg: transparent;

            thead {
                background-color: #c3cec7;
                position: sticky;
                top: -10px;
                z-index: 10;
                border: 1px solid;
                text-align: center;
                vertical-align: middle;
            }
            tbody {
                text-align: center;
                vertical-align: middle;
            }
        }
    }

    .offcanvas-footer {
        text-align: right;
        margin-left: auto;
        margin-right: 55px;
    }
}
