@use "../base/variables" as *;
@use "../helper/helper.scss" as *;
.modal {
    .modal-content {
        transform: translateY(50px);
        .modal-header {
            background-color: $green-1;
            .modal-title {
                margin: auto;
                @include text(25px, bold, $color-white-0);
            }
            i {
                @include text(30px, normal, $color-red-0);
                cursor: pointer;
            }
        }

        .modal-body {
            padding: 20px 40px;

            .form-control {
                border-radius: 2px;
                height: 30px;
                @include text(16px, normal, black);
            }
            .dropdown {
                height: 35px;
                border: 1px solid #dee2e6;
                border-radius: 2px;
                @include text(16px, normal, $color-gray-4);
            }
            .desc {
                height: 100px;
                &.limit-exceeded:focus,&.limit-exceeded{
                    box-shadow: none;
                    border-width: 2px;
                    animation: blink 1s infinite;
                }
            }
            .sp-thongbao{
                color:red;
                font-size: 14px;
            }
        }
    }
}

  @keyframes blink {
    0% {
        border-color: white;
      }
      50% {
        border-color: red; /* Màu đỏ, bạn có thể điều chỉnh màu sắc tùy ý */
      }
      100% {
        border-color: white;
      }
  }