$clr-primary: #2a73dd;
$clr-blue-dark: #1d365e;
$clr-secondary: #656774;
$green-1: #99DBB4;
$green-2: #B0DB7D;
$red-1: #EF8D9C;
$orange-1: #FFC39E;
$color-white-0: #fff;
$color-red-0: #ec5252;
$color-red-1: #521822;
$color-purple: #6e1a52;
$color-gray-1: rgba(20,23,28,.05);
$color-gray-2: #a1a7b3;
$color-gray-3: #cacbcc;
$color-gray-4: #686f7a;
$color-gray-5: #f7f8fa;